/* Logo.css */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(198.87% 58.95% at 53.33% 48.1%, #FFFFFF 0%, #EDF9FD 50%, #B7E9F7 100%);
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.logo {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block; /* Ensures the image is treated as a block element */
    margin-bottom: 0; /* Removes any bottom margin */
    padding-bottom: 0; /* Removes any bottom padding */
    vertical-align: bottom; /* Aligns the image to the bottom of its line */
}

.tagline {
    background: linear-gradient(90deg, rgba(203, 13, 76, 0.7) 20.51%, rgba(40, 73, 100, 0.7) 46.29%, rgba(34, 93, 169, 0.7) 73.56%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0; /* Removes top margin */
    padding-top: 5px; /* Keeps a tiny bit of spacing */
    padding-bottom: 5px;
    max-width: 80%;
}

@media (max-width: 768px) {
    .logo {
        max-width: 150px;
    }
    .tagline {
        font-size: 1.2rem;
        padding-top: 4px;
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 100px;
    }
    .tagline {
        font-size: 1rem;
        padding-top: 3px;
    }
}