html, body {
  height: 100%; /* Full height of the viewport */
  margin: 0;
  padding: 0;
  
  background: radial-gradient(
    90.87% 58.95% at 53.33% 50.1%, 
    #FFFFFF 0%, 
    #EDF9FD 20%, 
    #B7E9F7 200%
  );
  background-repeat: no-repeat; /* Prevent tiling */
  background-attachment: fixed; /* Makes the gradient stay fixed on scroll */
}

.calDisplayContainer {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 45px 0;
  }
  
  .contentWrapper {
    width: 100%;
    padding: 0 22px;
  }
  
  .cal-display-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    background-color: #cdeff8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
    width:100%;
  }
  
  
  .logo-container {
    padding-left: 1rem;
  }

  .logo-gritPhases {
    width: auto;
    height: auto;
  }


  .logo-container {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: background-color 0.2s;
    height: 84%;
    margin-left: 50px;
    flex-direction: row; 
    gap: 4px;
    justify-content: flex-start;
    padding-left: 2.2rem;
    opacity: 1;
  }

  .main-content.nav-open .logo-container {
    opacity: 0;
    pointer-events: none;
  }
  .logo-container.active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .logo-gritPhases {
    margin-right: 0.5rem;
  }
  .chevron-left {
    margin-left: 10px;
    width: 24px; /* Adjust size of the chevron */
    height: 24px; /* Ensure it matches the width */
    color: #003366; /* Dark blue color */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Add hover effect */
  }
  
  .chevron-left:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
  }
  
  .title {
    color: rgba(40, 73, 100, 1);
    text-align: center;
    margin-top: 105px;
    font: 400 25px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .helperText {
    color: rgb(150, 155, 159);
    text-align: center;
    margin-top: 33px;
    font: 400 14px Montserrat, sans-serif;
  }

  .cal-title {
    color: rgba(40, 73, 100, 1);
    text-align: center;
    margin-top: 75px;
    font: 400 25px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .description {
    color: rgba(150, 155, 159, 1);
    text-align: center;
    margin-top: 16px;
    font: 700 16px Montserrat, sans-serif;
  }

  .calorieValue {
    color: rgba(40, 73, 100, 1);
    text-align: center;
    margin-top: 20px;
    font: 700 35px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .calculateButton {
    display: block;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 124px;
    padding: 14px 35px;
    color: rgba(34, 93, 169, 1);
    font: 700 12px Montserrat, sans-serif;
    border: 1px solid rgba(34, 93, 169, 1);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  /* Responsive Adjustments for Smaller Screens */
  
  @media (max-width: 480px) {}
  
  :focus {
    outline: 2px solid rgba(34, 93, 169, 0.5);
    outline-offset: 2px;
  }
  