html, body {
  height: 100%; /* Full height of the viewport */
  margin: 0;
  padding: 0;
  background: radial-gradient(
    90.87% 58.95% at 53.33% 50.1%, 
    #FFFFFF 0%, 
    #EDF9FD 20%, 
    #B7E9F7 200%
  );
  background-repeat: no-repeat; /* Prevent tiling */
  background-attachment: fixed; /* Makes the gradient stay fixed on scroll */
}
.calDisplayContainer {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 45px 0;
  }
  
  .contentWrapper {
    width: 100%;
    padding: 0 22px;
  }
  
  .target-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
    width:100%;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  }
  
  
  .logo-container {
    padding-left: 1rem;
  }

  .logo-gritPhases {
    width: auto;
    height: auto;
  }


  .logo-container {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: background-color 0.2s;
    height: 84%;
    margin-left: 50px;
    flex-direction: row; 
    gap: 4px;
    justify-content: flex-start;
    padding-left: 2.2rem;
    opacity: 1;
  }

  .main-content.nav-open .logo-container {
    opacity: 0;
    pointer-events: none;
  }
  .logo-container.active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .logo-gritPhases {
    margin-right: 0.5rem;
  }
  .chevron-left {
    margin-left: 10px;
    width: 24px; /* Adjust size of the chevron */
    height: 24px; /* Ensure it matches the width */
    color: #003366; /* Dark blue color */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Add hover effect */
  }
  
  .chevron-left:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
  }
  
  .title {
    color: rgba(40, 73, 100, 1);
    text-align: center;
    margin-top: 105px;
    font: 400 25px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .cal-title {
    color: rgba(40, 73, 100, 1);
    text-align: center;
    margin-top: 100px;
    margin-right: 10px;
    font: 400 25px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .description {
    color: rgba(150, 155, 159, 1);
    text-align: center;
    margin-top: 16px;
    font: 700 14px Montserrat, sans-serif;
  }

  .calorieValue {
    color: rgba(40, 73, 100, 1);
    text-align: center;
    margin-top: 20px;
    font: 700 35px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .macroTitle {
    color: rgb(34, 93, 169);
    text-align: center;
    width: 100%;
    margin-top: 85px;
    font: 400 15px Montserrat, sans-serif;
  }

  .macroCardsContainer {
    display: flex;
    width: 100%;
    margin-top: 29px;
    gap: 36px;
    font-family: Montserrat, sans-serif;
    text-align: center;
  }
  
  .macroCardWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .macroCard {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 16px 10px;
    border: 1px solid rgb(34, 93, 169);
  }
  
  .macroValue {
    font-size: 24px;
    font-weight: 700;
    background: var(--Gradient-niice, linear-gradient(90deg, rgba(203, 13, 76, 0.7) 20.51%, rgba(40, 73, 100, 0.7) 46.29%, rgba(34, 93, 169, 0.7) 73.56%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .macroUnit {
    font-size: 16px;
    font-weight: 500;
    background: var(--Gradient-niice, linear-gradient(90deg, rgba(203, 13, 76, 0.7) 20.51%, rgba(40, 73, 100, 0.7) 46.29%, rgba(34, 93, 169, 0.7) 73.56%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 28px;
  }
  
  .macroLabel {
    color: rgb(34, 93, 169);
    font-size: 16px;
    font-weight: 500;
    margin-top: 22px;
  }
  
  .helperText {
    color: rgb(150, 155, 159);
    text-align: center;
    margin-top: 24px;
    font: 400 14px Montserrat, sans-serif;
  }

  .calculateButton {
    display: block;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 145px;
    padding: 14px 35px;
    color: rgba(34, 93, 169, 1);
    font: 700 12px Montserrat, sans-serif;
    border: 1px solid rgba(34, 93, 169, 1);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background: linear-gradient(135deg, #3599f0, #00f2fe);
    width: 200px;
  }

  
  @media (max-width: 480px) {}
  
  :focus {
    outline: 2px solid rgba(34, 93, 169, 0.5);
    outline-offset: 2px;
  }
